PORT=3000
SAP_BASE_URL=https://NPSAP01.NAMDHARISEEDS.COM:44310/sap/opu/odata/sap/ZVENDOR_ODATA_SRV
SAP_AUTH_TYPE=basic
SAP_BASIC_USER=<sap_user>
SAP_BASIC_PASSWORD=<sap_password>
SAP_BEARER_TOKEN=
ALLOW_INSECURE_TLS=true
USE_MOCK_ON_FAILURE=true
REQUEST_TIMEOUT_MS=15000
